<!-- Landscape embed view -->
<small><i><a href="https://bsi-landscape.netlify.app/" target="_blank">View full landscape</a></i></small>
<div class="pr-5 my-2 flex-grow-1">
<iframe id="embed-landscape"
        src="https://bsi-landscape.netlify.app/embed/embed.html?key=batch-scheduling&headers=true&category-header=false&category-in-subcategory=false&title-uppercase=true&title-alignment=left&title-font-family=sans-serif&title-font-size=14&style=shadowed&bg-color=%23d62293&fg-color=%23ffffff&item-modal=true&item-name=true&size=lg&items-alignment=left&item-name-font-size=12"
        height="620"
        width="100%"
        style="display:block;border:none;">
</iframe>
</div>
<!-- Landscape embed item details view -->
<!-- NOTE: the script and the iframe below should only be added once, even when adding multiple embed views to the page -->
<script src="https://bsi-landscape.netlify.app/embed/embed-item.js"></script>
<iframe id="embed-item"
        src="https://bsi-landscape.netlify.app/embed/embed-item.html"
        style="width:100%;height:100%;display:block;border:none;position:fixed;top:0;bottom:0;left:0;right:0;z-index:2147483647;display:none;">
</iframe>
<!-- End of landscape embed view -->
